---
layout: default
permalink: /members
title: Members
---

<h1>Members</h1>

<table>
    <thead>
    <tr>
        <th width="10%">Acronym</th>
        <th width="20%">Name</th>
        <th width="20%">GitHub</th>
        <th width="25%">Web</th>
        <th width="15%">Roles</th>
    </tr>
    </thead>
    <tbody>
        {% assign members = site.members | sort: "acronym" %}
        {% for member in members %}
        <tr>
            <td>{{ member.acronym }}</td>
            <td><a href="{{ member.url }}">{{ member.display_name }}</a></td>
            {% if member.github %}
                <td><a href="https://github.com/{{ member.github | uri_escape }}">{{ member.github }}</a></td>
            {% else %}
                <td></td>
            {% endif %}
            {% if member.web %}
                <td><a href="{{ member.web | uri_escape }}">{{ member.web }}</a></td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                <ul>
                    {% for role in member.roles %}
                    <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>