---
layout: default
---

<h1>Authors</h1>

<table>
    <thead>
    <tr>
        <th width="25%">Name</th>
        <th width="25%">GitHub</th>
        <th width="50%">Web</th>
    </tr>
    </thead>
    <tbody>
        {% assign authors = site.data.authors %}
        {% for author_map in authors %}
        {% assign author = author_map[1] %}
        <tr>
            {% if author.display_name %}
                <td>{{ author.display_name }}</td>
            {% else %}
                <td>{{ author.name }}</td>
            {% endif %}
            {% if author.github %}
                <td><a href="https://github.com/{{ author.github | uri_escape }}">{{ author.github }}</a></td>
            {% else %}
                <td></td>
            {% endif %}
            {% if author.web %}
                <td><a href="{{ author.web | uri_escape }}">{{ author.web }}</a></td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>